*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
:root{
    --maincolor:blueviolet;
    --whitecolor:white;
    --blackcolor:black;
    --textcolor1:black;
    --textcolor2:white;
    --footercolor:black;
    --copyright:blueviolet;
}
.darkmode{
    --whitecolor:black;
    --blackcolor:white;
    --textcolor1:white;
    --textcolor2:black;
    --footercolor:rgb(92, 0, 179);
    --copyright:white;
}
html{
    overflow-x: hidden;
}
body{
   background-color:var(--whitecolor);
   font-family: 'Poppins';
}
.header{
    position: fixed;
    top: 0;left: 0;
    padding: 1% 5%;
    align-items: center;
    height: 12vh;
    display: flex;
    z-index: 10;
    width: 100%;
    background-color: var(--maincolor);
    transition: 0.8s;
}

.header.sticky{
    background-color: var(--whitecolor);
    box-shadow: 0 .1rem 1rem grey;
    color: var(--maincolor);
}
.header.sticky:hover{
    background-color: var(--maincolor);
    box-shadow: 0 .1rem 1rem grey;
    
}
.header.sticky:hover a{
    transition: 0s;
    color:white;
}
.header.sticky:hover .dark{
    color: var(--textcolor2);
}
.header.sticky a{
    color: var(--maincolor);
    background-color: transparent;
}
.header.sticky .active::before{
    background-color: var(--maincolor);
    transition: 2s;
}
.header.sticky:hover .active::before{
    background-color:white;
}
.header.sticky .dark{
    color: var(--maincolor);
}
.header.sticky .dark:hover{
    color: var(--textcolor1);
}
.logo{
    position: relative;
    color:var(--textcolor2);
    font-size: 2.5rem;
    font-weight: 600;
   left: 75vw;
}
.navbar a{
    position: relative;
    left: -28vh;
    margin-right: 2.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    background-color:transparent;
 }
.navbar a.active::before{
    content: ' ';
    position:absolute;
    width: 100%;
    left: 0vw;
    height: 4px;
    border-radius: 2px;
    transition: 0.8s;
    background-color: white;
    bottom: -1vh;
}
.dark{
    position: absolute;
    left: 94vw;
    top: 3vh;
    font-size: 2.5rem;
    color:var(--textcolor2);
}
.dark:hover{
    color: var(--textcolor1);
}

#home{
    position: absolute;
    height: 100%;
    width: 100%;
   overflow: hidden;
}
#home #table{
    position: relative;
    width: 60vw;
    left: -3vw;
}

#home #screen{
    position:relative;
    color: var(--textcolor2);
    border-radius: 20px;
    left: 24.2vw;
    top: -41.2vh;
    height: 7.5vh;
    width: 12vh;
    border-radius: 2px;
    transition: 0.8s;
    background-color: var(--maincolor);
    bottom: -1vh;
    transition: 1s;
}
#screen h3{
    position: absolute;
    padding: 1.25vh 2vh;
    color: var(--textcolor2);
    line-height: 2.5vh;
    font-size: .8rem;
    z-index: 1;
}
#knowme{
    background-color: var(--maincolor);
    color: var(--textcolor2);
    font-size: 0.5rem;
    font-weight: 500;
    position: relative;
    left: -10.8vw;
    top: 14vh;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    transition: 0.5s;
}

#pc{
    transition: 1.5s ease-in;
}
#home #content{
    position:absolute;
    padding: 18% 10%;
    top: 6vh;
    color: var(--textcolor1);
    font-size: 1.3rem;
    line-height: 3rem;
    max-width: 60vw;
}

#h1{
    font-size: 1.3rem;
    color: var(--maincolor);
    letter-spacing: .09rem;
}
#p{
    position: absolute;
    margin-top: 2.5vh;
    line-height: 1rem;
    letter-spacing: 0.03rem;
    color: var(--textcolor1);
    width: 45vw;
    font-size: 0.8rem;
    font-weight: 700;
}
#home #content #cv-btn{
    position: relative;
    width: 10vw;
    height: 6vh;
    top: 9vh;
    color: var(--textcolor2);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--maincolor);
}
#home #content #cv-btn:hover,#contact .messaging form button:hover{
    background-color: var(--whitecolor);
    color: var(--maincolor);
    border :2px solid var(--maincolor);
}
#home .image{
    position: absolute;
    width:44vw;
    height: 88vh;
    background-color:transparent;
    overflow: visible;
    top: 12vh;
    right: 0;
    bottom: 0;
    border-top:44vh solid rgb(112, 11, 206);
    border-bottom: 44vh solid var(--maincolor);
    border-right: 22vw solid rgb(133, 29, 230);
    border-left: 22vw solid transparent;
    z-index:3;
    transform: translateX(100%);
    transition: 2s;
}

#home #profile-image{
    position: absolute;
    top: 11vh;
    right: -20vh;
    width: 25vw;
    height: 90vh;
    transform: translateX(100%);
    z-index: 5;
   transition: 1s;
}
#home #image:hover{
    position: absolute;
    border-top:44vh solid rgb(86, 7, 161);
    border-bottom: 44vh solid rgb(129, 16, 234);
    border-right: 22vw solid rgb(139, 21, 250);
}
#home .profession-container{
    position: absolute;
    top: 4vh;
    right: 0;
    transition: 2s;
    background-color: transparent;
    width: 640px;
    height: 640px;
    overflow: hidden;
    pointer-events: none;
    transform: translateX(100%);
}
#home .profession-container .prof-box{
    position: absolute;
    width: 640px;
    height: 640px;
    top: 5vh;
    right: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 13s linear infinite;
}
#home .prof-box .prof{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--maincolor);
    left: 0;
    transform: rotate(calc(360deg/4 * var(--i)));
    transform-origin: 320px;
    background-color: var(--whitecolor);
    z-index: 4;
    padding:5px 0;
}


@keyframes rotate{
    0%,20% {
        transform: rotate(0deg);
        
    }
    25%,45% {
        transform: rotate(-90deg);
      
    }
    50%,70% {
        transform: rotate(-180deg);
        
    }
    75%,95% {
        transform: rotate(-270deg);
      
    }
    100% {
        transform: rotate(-360deg);
      
    }
}
@keyframes rotate2{
    50% {
        transform: rotate(180deg);
        animation-duration: 2s;
    }
    75% {
        transform: rotate(270deg);
        animation-duration: 2s;
    }
}
#home .prof-box .prof:nth-child(1) i{
    margin-right: 15px;
}
.prof h3{
    font-size: 2rem;
  
}
#home .prof-box .circle{
  position: relative;
    height: 440px;
    width: 440px;
    background-color: transparent;
    border: 3px solid var(--maincolor);
    border-radius: 50%;
}
#about{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 100vh;
    background-color: var(--whitecolor);
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}
#about #passion{
    position: absolute;
    top: 30vh;
    width: 60vw;
    height: 60vh;
    left: 20vw;
    z-index: 1;
    padding: 2% 2%;
    box-shadow: 0 0.1rem 1rem grey;
    border-radius: 20px;
    border-left: 4px solid var(--maincolor);
    border-right: 4px solid var(--maincolor);
    background-color: var(--whitecolor);
}
#passion p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textcolor1);
    font-size: 1rem;
    font-weight: 500;
    padding-top: 2%;
}
#passion p{
    padding: 1% 2%;
}
#about #win1,#about #win2{
    position: absolute;
    width: 18vw;
    height: 60vh;
    background-color: var(--maincolor);
    top: 17vh;
    left: -10vw;
    transform: rotate(35deg);
}
#about #win1{
    position: absolute;
    left: 90vw;
    background-color: var(--maincolor);
    top: 30vh;
    transform: rotate(33deg);
}
#about #win3,#about #win4{
    position: absolute;
    width: 18rem;
    height: 18rem;
    background-color: var(--maincolor);
    bottom: -27vh;
    left: 2vw;
    transform: rotate(35deg);
    z-index: 0;
}
#about #win4{
    position: absolute;
    left: 72vw;
    background-color: var(--maincolor);
    top: -14vh;
 
}
#education{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 200vh ;
    background-color: var(--whitecolor);
    display: flex;
    justify-content: center;
    padding: 12% 10%;
}
#heading{
    position: absolute;
    top: 14vh;
    color: var(--textcolor1);
    font-size: 2.5rem;
    font-weight: 700;
}
#heading span{
    color: var(--maincolor);
}
#education .education-container{
    position: absolute;
    width: 25vw;
    height: 68vh;
    top: 28vh;
    display: flex;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
}

#education .education-container p{
    position: relative;
    top: 10vh;
    font-size:1.5rem ;
    font-weight: 700;
    transition: 0.8s ease-out;
}
.education-container p:hover{
    scale: 1.1;
}
#education .education-icon-overlay{
    position: absolute;
    width: 25vw;
    height: 4rem;
    background-color:var(--whitecolor);
    display: flex;
    justify-content: center;
   z-index: 2;
   
}
#education .education-container .education-icon{
    position: relative;
    top: 1vh;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgb(99, 99, 99);
    background-color: var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    transition: 1s;
}
#education .education-container .education-icon:hover{
    scale: 1.1;
}
#education #edu-icon{
    color: var(--textcolor1);
    font-size: 3.5rem;
}
#education .education-content{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 3.5rem;
    width: 22vw;
    height: 55vh;
    border-bottom-left-radius:10rem;
    border-bottom-right-radius: 10rem;
    border-right: 2px solid var(--maincolor);
    border-top: 5px solid var(--maincolor);
    box-shadow: -0.5rem 0.5rem 0.85rem  var(--maincolor);
    background-color: var(--whitecolor);
    color: var(--textcolor1);
    z-index: 1;
    transform: translateY(-120%);
    transition: 1s;
    overflow: hidden;
}
#education .education-content #gpa{
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--maincolor);
    bottom: -10vh;
    transition: 1s;
    display: flex;
    justify-content: center;
}
#education .education-content #gpa:hover{
    scale: 1.1;
}
#education .education-content #gpa p{
    position: absolute;
    top: 2vh;
    font-size: 0.9rem;
    font-weight: 200;
    color:white;;
}
#education .education-content ul{
    position:absolute;
    list-style-type: none;
    left: 16%;
    top: 20vh;
    line-height: 2rem;
    
}
#education .education-content i{
    position: relative;
    left: -1vw;
}
#education .education-content h4{
    position: relative;
    font-weight: 200;
}
#education .education-content h4:hover{
    scale: 1.01;
}
#education #edu-container1{
    position: absolute;
    left: 10vw;
}
#education #edu-container2{
    position: absolute;
    left: 35vw;
}
#education #edu-container3{
    position: absolute;
    left: 60vw;
}
#projects{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 300vh ;
    background-color:var(--whitecolor);
    display: flex;
    justify-content: center;
    padding: 20% 5%;
}
#projects .project-container{
    position: absolute;
    width: 44vw;
    height: 72vh;
    overflow: hidden;
    top: 25vh;
   
}
#projects .project-container .project{
    position:absolute;
    width: 44vw;
    height: 47vh;
    top: 3vh;
   left: 0vh;
    display: flex;
    justify-content: center;
    background-color: transparent;
   
}
#projects .project-container  #project-icon{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2.5rem;
    width: 7rem;
    height: 7rem;
    top: -0vh;
    background-color: var(--maincolor);
    border-radius: 50%;
    border: 5px solid rgb(64, 0, 123);
    z-index: 1;
    transition: 1.5s;
}
#projects .project-container  #project-icon:hover{
    scale: 1.3; 
}
#projects .project-container .project .project-content{
    position: absolute;
    z-index: 0;
    height: 60vh;
    width: 44vw;
    top: 3rem;
    display: flex;
    justify-content: center;
    padding: 0% 4%;
    padding-top: 16% ;
    color: var(--textcolor1);
    font-size: 0.9rem;
    border-radius: 20px;
    border-top: 3px solid var(--maincolor);
    border-bottom: 3px solid var(--maincolor);
    border-right: 7px solid var(--maincolor);
    border-left: 7px solid var(--maincolor);
    transform-style: preserve-3d ;
    transition: 1s;
}
#pro1,#pro2,#pro3{
    transform-style: preserve-3d;
    perspective: 900px;
}
#projects .project-content .project-front,#projects .project-content .project-back{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:transparent;
    transition: 1s;
    top: 0;
    backface-visibility: hidden;
    z-index: 0;
    border-radius: 20px;
}
#projects .project-content  .project-back{
    transform: rotateY(180deg);
    background-color:var(--whitecolor);
}
#projects .project-content  .project-back a{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}
#projects .project-content  .project-back img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
/*#projects #proc:hover{
    transform: rotateY(180deg);
}*/

#projects .project-content .project-domain,.project-content .project-date{
    position: absolute;
    color: var(--textcolor1);
    font-size: 1rem;
    font-weight: 700;
  
}
#projects .project-content .project-domain{
    top: 1.5vh;
    left: 3vh;
    transition: 0.8s;
}
#projects .project-content .project-date{
    top: 1.5vh;
    right: 3vh;
    transition: 0.8s;
}
#projects .project-content .project-domain:hover,#projects .project-content .project-date:hover{
    scale: 1.1;
}
#projects .project-content .project-title{
    position: absolute;
    color: var(--maincolor);
   font-size: 1.5rem;
   font-weight: 800;
    top: 9vh; 
    animation: infin 2s ease infinite;
}
@keyframes infin{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

#projects .project-content .project-details{
    position: absolute;
    top: 15vh;
    padding: 0% 4%;
}
#projects .project-content .link h3{
    position: absolute;
    font-size: 1rem;
    bottom: 4vh;
    right: 2vh;
    animation: infin 1.5s ease-in infinite;
    color: var(--maincolor);
}

#projects .project-content .link h3 i{
    font-weight: 700;
}
#projects .project-content .project-flipb,.project-flipb2{
    position: absolute;
    bottom:2vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--maincolor);
    display: flex;
    justify-content: center;
    border: 2px solid var(--maincolor);
    transition: 0.8s ease-in;
}
#projects .project-content .project-flipb:hover,#projects .project-content .project-flipb2:hover{
    background-color: var(--whitecolor);
    scale: 1.1;
}

#projects .project-content .project-flipb:hover button,#projects .project-content .project-flipb2:hover button{
    color:var(--textcolor1);
}
#projects .project-content .project-flipb button,#projects .project-content .project-flipb2 button{
    background-color: transparent;
    color: var(--textcolor2);
}
#projects  #move-left,#projects #move-right{
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--maincolor);
    top: 21vh;
    left: -20vw;
    color: white;
    font-size: 1.5rem;
    transition: 0.5s;
}
#projects  #move-left:hover{
    transform: translateX(-35%);
    scale: 1.2;
}
#projects #move-right{
    left: 20vw;
}
#projects  #move-right:hover{
    transform: translateX(35%);
    scale: 1.2;
}
#certifications{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 400vh ;
    background-color: var(--whitecolor);
    display: flex;
    justify-content: center;
    padding: 20% 5%;
}
#certifications .certificate-container{
    position:absolute;
    top: 20vh;
    left: 5vw;
}
#certifications .c-container2{
    position: absolute;
    top: 48vh;
}
#certifications .c-container3{
    position: absolute;
    top: 75vh;
}
#certifications .certificate-container .certificate-icon{
    position: absolute;
    z-index:2 ;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    background-color: var(--maincolor);
    transition: 1s;
}
#certifications .certificate-container .certificate-icon:hover{
    scale: 1.2;
}
#certifications .certificate-container .certificate-content{
    position: absolute;
    width: 70vw;
    height: 6rem;
    background-color:var(--whitecolor);
    top: 2rem;
    left: 11rem;
    transform: translateX(-112%);
    transition: 1s;
    z-index: 0;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
    border: 2px solid var(--maincolor);
    box-shadow: 0 0.5rem 0.5rem var(--maincolor);
    color: var(--textcolor1);
}
#certifications .certificate-container .certificate-overlay{
    position: absolute;
    width: 9rem;
    height: 6rem;
    top: 2rem;
    left: -6vw;
    background-color:var(--whitecolor);
    z-index: 1;
    box-shadow: 1rem 1.5rem 0.5rem var(--whitecolor);
 }
 .certificate-date{
    position: absolute;
    top: 1vh;
    right: 1vw;
    color: var(--textcolor1);
    font-size: .9rem;
    font-weight: 700;
 }
 .certificate-date i{
    color: var(--maincolor);
 }
 .certificate-title{
    position: absolute;
    left: 3vw;
    color: var(--maincolor);
    font-size: 1.3rem;
    font-weight: 700;
 }
 .certificate-details{
    position: absolute;
    padding: 4% 3%;
    font-size: .9rem;
 }
 #contact{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 500vh ;
    background-color: var(--whitecolor);
    display: flex;
    justify-content: center;
    padding: 20% 5%;
 }
 #contact .messaging{
    position: absolute;
    top: 25%;
    left: 0;
    width: 50%;
    height: 50%;
    background-color:var(--whitecolor);
 }

 #contact .messaging form{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 7%;
    top: 0;
    width: 80%;
 }
 #contact .messaging form input{
    position:relative;
    margin-left: 2vw;
    margin-top: 2.6vh;
    color: var(--textcolor1);
    background-color: transparent;
    width: 47%;
    height: 3.5rem;
    padding: 2%;
    left: -5%;
    box-shadow: -0.005rem 0.005rem 0.5rem 0.05rem rgb(232, 219, 219);
    border-radius: 5px;
    letter-spacing: 0.1rem;
 }
 #contact .messaging form textarea{
    position: absolute;
    letter-spacing: 0.1rem;
    background-color: var(--whitecolor);
    color: var(--textcolor1);
    top: 2vh;
    left: 50%;
    height: 85%;
    width: 62%;
    box-shadow: -0.005rem 0.005rem 0.5rem 0.05rem rgb(232, 219, 219);
    padding: 2%;
 }
 #contact .messaging form button{
    position: absolute;
    width: 6rem;
    height: 2.5rem;
    bottom: 8vh;
    border-radius: 5px;
    right: -3vw;
    color: var(--textcolor2);
    background-color: var(--maincolor);
 }
 #contact #divide{
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: var(--maincolor);
    top: 23%;
    left: 52%;
 }
 #contact .media-links{
    position: absolute;
    top: 25%;
    width: 50%;
    height: 50%;
    right: 0;
    color: var(--textcolor1);
    background-color: transparent;
 }
 #contact .media-links .media{
    position: relative;
    left: 17%;
    top: 10%;
    margin-top: 2vh;
 }
 #contact .media-links img{
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-size: cover;
 }
 #contact .media-links p{
    position: absolute;
    top: 1vh;
    left: 4vw;
    animation: slide 2s linear infinite;
    letter-spacing: 0.06rem;
 }
 #contact .media-links #insta{
    color: rgb(168, 9, 70);
 }
 #contact .media-links #meta{
    color: rgb(18, 18, 215);
 }
 
 @keyframes slide{
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
 }
 #contact .footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: var(--footercolor);
    bottom: 0;
 }
 #contact .footer .logo{
    position: absolute;
    top: 0;
 }
 #contact .footer i{
    position: relative;
    top: -7vh;
    margin-left: 2vw;
    color: var(--textcolor2);
    font-size: 2.3rem;
 }
 #contact .footer i:hover{
    color: var(--copyright);
 }
 #contact .footer .copyright{
    position:absolute;
 }
 #contact .footer .copyright a{
    position: relative;
    margin-left: 0.5vw;
    top: 0vh;
    color: var(--copyright);
    font-size: 1.15rem;
 }
 #contact .footer a:hover{
    color:var(--textcolor2);
 }
 #contact .footer .copyright #copy{
    position: absolute;
    width: 27vw;
    top: 5vh;
    left: -3vw;
 }
 #contact .footer .copyright #copy p:hover,#contact .footer a i:hover{
    color:var(--textcolor2);
 }
 #contact .footer a i{
    position:relative;
    top: 0.5vh;
    color: var(--copyright);
    left: -1.5vw;
    margin-right: -1vw;
    font-size: 1.4rem;
 }
